/*Ce fichier ne sera pas gitignoré, il sert a se rappeller que il y a une bd mysql dans se projet, le .env lui est bien configuré 
et est gitignoré pour ne pas partager les infos de connexion a la base de données. */

# ORM Prisma — URL de connexion MySQL
DATABASE_URL=mysql://root:PASSWORD@localhost:3306/ordv_db

# Sécurité (JWT)
JWT_SECRET=ta_phrase_secrete_ici

# Configuration du Serveur
PORT=5000