/*Ce fichier ne sera pas gitignoré, il sert a se rappeller que il y a une bd mysql dans se projet, le .env lui est bien configuré 
et est gitignoré pour ne pas partager les infos de connexion a la base de données. */

# Configuration de la Base de Données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ordv_db

# Sécurité (JWT)
JWT_SECRET=ta_phrase_secrete_ici

# Configuration du Serveur
PORT=5000